
{% extends 'layout.html' %}
    
{% block body %}

    <div class="jumbotron text-center">
        <h1>About Us</h1>
        <p>(from inside a Jijna2 template about.html)</p>
    </div>
{% endblock %}